<h1>Here are your bracket predictions: </h1>

<ul>


<li><%= @bracket.M1A %></li>
<li><%= @bracket.M1B %></li>
<li><%= @bracket.M1C %></li>
<li><%= @bracket.M1D %></li>
<li><%= @bracket.M1E %></li>

</ul>

<p>
  Your score is: <%= @score %>
</p>
