<h1>Here are your bracket predictions: </h1>


<div id="brackets"></div>

<p>
  Your score is: <%= @score %>
</p>

<p>
  Your team score is: <%= @average_team_score %>
</p>


<h3>Top 10 Brackets</h3>


<ol>
  <% @top_ten_brackets.each do |item| %>
  <li><%= link_to item.user.email, bracket_path(item) %> (Score: <%= item.score(Bracket.get_admin_bracket)
  %>)</li>
  <% end %>
</ol>

<h3>Top 10 Team Brackets</h3>

<ol>
  <% @top_ten_team_brackets.each do |item| %>
  <li><%= item.name %> (Average Team Score: <%= item.average_team_score %>)</li>
  <% end %>
</ol>


<% if is_admin? %>

<h3>All User Emails</h3>
<ol>
  <% @users.each do |user|  %>
  <li><%= user.email %></li>
  <% end %>
</ol>
<% end %>



<script>
/**
* brackets.js
*/

$(function() {

  $.ajaxSetup({
    headers: {
      'X-CSRF-Token': $('meta[name="csrf-token"]').attr('content')
    }
  });

  var games = new Array,
      teams = $.ajax({
          dataType: 'json',
          method: 'GET',
          url: '/teams'
        }).success(function(result){
          matchups = setupMatchup(result.results);
        });

  function setupMatchup(teams) {
    var matchup_order = [
      [1, 16],
      [8, 9],
      [5, 12],
      [4, 13],
      [6, 11],
      [3, 14],
      [7, 10],
      [2, 15]
    ],
    region_order = [
      "M",
      "S",
      "E",
      "W"
    ],
    matchups;

    matchups = $.map(region_order, function (region) {
      var teamsByRegion = $.grep(teams, function(team) {
        return team.region == region;
      });

      var order = $.map(matchup_order, function(matchup) {
        var team1, team2;

        team1 = $.grep(teamsByRegion, function(team) { return team.ranking == matchup[0] });
        team2 = $.grep(teamsByRegion, function(team) { return team.ranking == matchup[1] });

        team1 = $(team1).get(0);
        team2 = $(team2).get(0);

        return [team1.ranking + ' ' + team1.name, team2.ranking + ' ' + team2.name];
      });

      return order;
    });

    groupGames(matchups);
    setUpBracket();
  }

  function groupGames(matchups) {
    for(var i = 0; i < matchups.length; i+=2) {
      games.push( matchups.slice(i, i+2) );
    }
  }

  function setUpBracket() {
    var saveData = {
      teams: games,
      results: [
        [
          <% 32.times do |i| %>
            <% if (64 + (2*i)) - 64 == @bracket.send("#{64 + i}").to_i %>
              [1, 0],
            <% else %>
              [0, 1],
              <% end %>
          <% end %>
        ],
        [
          <% 16.times do |i| %>
            <% if @bracket.send("#{96 + i}") == @bracket.send("#{64 + 2*i}") %>
              [1, 0],
            <% else %>
              [0, 1],
            <% end %>
          <% end %>
        ],
        [
          <% 8.times do |i| %>
            <% if @bracket.send("#{112 + i}") == @bracket.send("#{96 + 2*i}") %>
              [1, 0],
            <% else %>
              [0, 1],
            <% end %>
          <% end %>
        ],
        [
          <% 4.times do |i| %>
            <% if @bracket.send("#{120 + i}") == @bracket.send("#{112 + 2*i}") %>
              [1, 0],
            <% else %>
              [0, 1],
            <% end %>
          <% end %>
        ],
        [
          <% 2.times do |i| %>
            <% if @bracket.send("#{124 + i}") == @bracket.send("#{120 + 2*i}") %>
              [1, 0],
            <% else %>
              [0, 1],
            <% end %>
          <% end %>
        ],
        [
          <% if @bracket.send("126") == @bracket.send("124") %>
            [1, 0],
          <% else %>
            [0, 1],
          <% end %>
        ]
      ]
    }

    var container = $('#brackets');
    container.bracket({
      init: saveData,
      skipConsolationRound: true
    });

    $('.bracket .label').each(function() {
      var $el = $(this);
      $el.attr('title', $el.text());
    });
  }
  });
</script>
