<!DOCTYPE html>
<html>
<head>
  <title>Basketball Championship</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.2/underscore-min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/2.1.1/toastr.min.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/2.1.1/toastr.min.css"/>
  <%= csrf_meta_tags %>
</head>
<body>
  <header class="navbar navbar-default" role="navigation">
    <div class="navbar-inner">
      <div class="container">
        <div id="logo" class="navbar-brand"><%= link_to "2015 Basketball Tournament Bracket", root_path %></div>
        <nav class="collapse navbar-collapse navbar-ex1-collapse">
          <% if user_signed_in? -%>
          <ul class="nav navbar-nav navbar-right">
            <li><%= link_to 'Submit bracket', new_bracket_path %></li>
            <li><%= link_to 'Account', edit_user_registration_path %></li>
            <li><%= link_to 'Sign out', destroy_user_session_path, :method => :delete %></li>
          </ul>
          <% else -%>
          <ul class="nav navbar-nav pull-right">
            <li><%= link_to 'Sign up', new_user_registration_path %></li>
            <li><%= link_to 'Sign in', new_user_session_path %></li>
          </ul>
          <% end -%>
        </nav>
      </div>
    </div>
  </header>

  <div id="main_content" class="container">
    <% flash.each do |name, msg| %>
    <%= content_tag(:div, msg, class: "alert alert-info") %>
    <% end %>

    <div id="content" class="col-md-9 center-block">
      <%= yield %>
    </div>
  </div>

  <nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container">
      Made by Helen Lam, find me on: <a href="https://twitter.com/helenflam">Twitter</a> | <a href="https://www.linkedin.com/in/helenlam1/en">LinkedIn</a> | <a href="https://github.com/helenlam100">Github</a>
    </div>
  </nav>

</div>
</body>
</html>
