<!DOCTYPE html>
<html>
  <head>
<title>CollegeBasketballBracketology</title>
<%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
<%= javascript_include_tag "application", "data-turbolinks-track" => true %>
<%= csrf_meta_tags %>
  </head>
<body>

  <div class="ui menu">
    <% if user_signed_in? %>
    <div class="item">
      <div class="ui teal button"><%= link_to "Account", edit_user_registration_path %></div>
    </div>

    <div class="item">
      <div class="ui button"><%= link_to "Sign out", destroy_user_session_path, :method => :delete %></div>
    </div>
    <% else %>

    <div class="item">
      <div class="ui teal button"><%= link_to "Sign up", new_user_registration_path %></div>
    </div>
    <div class="item">
      <div class="ui button"><%= link_to "Sign in", new_user_session_path %></div>
    </div>
    <% end %>
  </div>

    <% flash.each do |name, msg| %>
      <%= content_tag(:div, msg, class: "alert alert-#{name}") %>
      <% end %>


  <%= yield %>

  </body>
</html>
